.rojo{
    background-color: #C0392B;
}
.amarillo{
    background-color: #F1C40F;
}
.gris{
    background-color: gray;
    height: 350px; 
}
.verde1{
    background-color: green;
}
.azul{
    background-color: #3498DB;
}

.verde2{
    background-color: green;
}